<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{YYYY-MM-dd HH:mm:ss} %level [%thread] [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>logFileName</key>
			<defaultValue>http</defaultValue>
		</discriminator>

		<sift>
			<appender name="FILE-${logFileName}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${logpath}/${logFileName}.log</file>

				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<Pattern>
						<pattern>%date{YYYY-MM-dd HH:mm:ss} %level [%thread] [%file:%line] %msg%n</pattern>
					</Pattern>
				</encoder>

				<rollingPolicy
					class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<FileNamePattern>${logpath}/${logFileName}.%i.log.zip</FileNamePattern>
					<MinIndex>1</MinIndex>
					<MaxIndex>10</MaxIndex>
				</rollingPolicy>

				<triggeringPolicy
					class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<MaxFileSize>100MB</MaxFileSize>
				</triggeringPolicy>

			</appender>
		</sift>
	</appender>

	<logger name="org.springframework" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
