<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<configuration>

	<settings>
		<setting name="defaultStatementTimeout" value="5" />
	</settings>

	<typeAliases>
		<typeAlias alias="User" type="com.youku.java.copyright.bean.User" />
		<typeAlias alias="Good" type="com.youku.java.copyright.bean.Good" />
		<typeAlias alias="Customer" type="com.youku.java.copyright.bean.Customer" />
		<typeAlias alias="Record" type="com.youku.java.copyright.bean.Record" />
	</typeAliases>
	
<!--     <plugins> -->
<!--         <plugin interceptor="com.youku.java.raptor.aspect.MybatisInterceptor"> -->
<!--         </plugin> -->
<!--     </plugins> -->

	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/GoodMapper.xml" />
		<mapper resource="mapper/CustomerMapper.xml" />
		<mapper resource="mapper/RecordMapper.xml" />
	</mappers>

</configuration>

