<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Log" type="com.youku.java.copyright.bean.Log" />
	</typeAliases>

<!-- 	<plugins> -->
<!-- 		<plugin interceptor="com.youku.java.raptor.aspect.MybatisInterceptor"> -->
<!-- 		</plugin> -->
<!-- 	</plugins> -->

	<mappers>
		<mapper resource="mapperlog/LogMapper.xml" />
	</mappers>
</configuration>

